name: Java CI with Maven

on:
  push:
    branches: [ "master", "main" ] # добавил main на всякий случай
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21' # Для 1.21.4 обязательно ставим 21
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Этот шаг "вытащит" ваш готовый плагин из облака, чтобы вы могли его скачать
    - name: Upload Plugin Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MyMinecraftPlugin
        path: target/*.jar
